#wrapper{
    margin: -10px;
    padding: -10px;
    display: grid;
    background-color: rgba(0, 0, 255, 0.3);
    grid-template-columns: 30px minmax(0, 1fr) 1fr 30px;
}

body{
    background-color: rgba(0, 0, 255, 0.3);
    grid-area: 1 / 1 / 4 / 5;
    height: 80px;
}

nav{
    background-color: rgba(255, 0, 0, 0.3);
    grid-area: 1 / 1 / 1 / 5;
    height: 100px;

}

header{
    background-color: rgba(0, 255, 255, 0.3);
    grid-area: 2 / 2 / 2 / 4;
    height: 500px;
}

main{
    background-color: rgba(0, 255, 0, 0.3);
    grid-area: 3 / 2 / 3 / 4;
    height: 800px;
}

footer{
    background-color: rgba(255, 255, 0, 0.3);
    grid-area: 4 / 1 / 4 / 5;
    height: 100px;
}