#wrapper{
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.3);
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
}

body{
    background-color: rgba(0, 0, 255, 0.3);
    grid-area: 1 / 1 / 4 / 5;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgba(255, 0, 0, 0.3);
    grid-area: 1 / 1 / 2 / 6;
    height: auto;
    position: sticky;
    top: 0;
}

nav a{
    text-decoration: none;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
    grid-area: 2 / 2 / 3 / 5;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    padding-left: 1em;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: 0;
}

main{
    background-color: rgba(0, 255, 0, 0.3);
    height: 100%;
    grid-area: 3 / 2 / 4 / 5;
}

main h1{
    text-align: left;
}

main p{
    text-align: right;
}

footer{
    background-color: rgba(255, 255, 0, 0.3);
    grid-area: 4 / 1 / 5 / 6;
    height: 100%;
}