#wrapper{
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
}

body{
    background-image: url(images/background_image.png);
    grid-area: 1 / 1 / 4 / 5;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #1B3D74;
    grid-area: 1 / 1 / 2 / 6;
    height: auto;
    position: sticky;
    top: 0;
    font-family: Georgia;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}

header {
    background-image: url(images/programing-image.jpeg);
    grid-area: 2 / 2 / 3 / 5;
}

main{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    grid-area: 3 / 2 / 4 / 5;
    font-family: Segoe UI;
}

main h1{
    text-align: left;
}

main p{
    padding-left: 4rem;
}

footer{
    background-color: rgba(255, 255, 0, 0.3);
    grid-area: 4 / 1 / 5 / 6;
}

#banner{
    background-image: url(images/programing-image.jpeg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#side-image{
    background-image: url(images/school-homepage-image.png);
    height: 100px;
    width: 200px;
    padding-top: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 2 / 4 / 3;
}

#side-right{
    padding-left: 15rem;
    grid-area: 3 / 3 / 4 / 6;
}
