*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( #EEEEEE, #FFFFFF);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana;
    margin: 0px;
}

header{
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
    grid-area: 1 / 2/ 2/ 8;
}

header h1{
    line-height: 140%;
    padding: .5rem;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin: 0;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

nav{
    font-weight: bold;
    background-color: #424242;
    position: sticky;
    top: 0;
    grid-area: 2 / 2 / 3 / 8;
}

nav a{
    text-decoration: none;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #FFFFFF;
    grid-area: 4 / 2 / 5 / 8;
}

main img{
    float: right;
    padding-left: 2rem;
}

h2{
    color: #424242;
    font-family: Georgia;
}

h3{
    color: #003058;
    font-weight: bold;
}

dt{
    color: #003058;
    font-weight: bold;
}

.ut{
    color: #BA1C21;
    font-weight: bold;
}

footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-area: 5 / 2 / 6 / 8;
}

#wrapper{
    display: grid;
    grid-auto-rows: 0px auto;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

#homehero{
    background-image: url(utahtech3/images/studenthero.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 2 / 4 / 8;
}

#studenthero{
    background-image: url(utahtech3/images/studenthero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 2 / 4 / 8;
}

#facultyhero{
    background-image: url(utahtech3/images/studenthero.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 2 / 4 / 8;
}

